*, :before, :after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.homepage { min-height: 100vh; }

.font-all{
    font-family: 'Poppins';
    font-size: 18px;
}

.background {
    background: radial-gradient(rgb(139, 195, 245),#1294b8);
}

/* Navbar part */

.navbar{
    color: white;
    padding: 2%;
    transition: all 0.4s;
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}

li{
    transition: transform 1s;
}

li:hover{
    transform: scale(1.5);
}

.category-onglet{
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    width: 60%;
    list-style-type: none;
}


.category-social{
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    width: 15%;
    list-style-type: none;
}


.link-nav{
    text-decoration: none;
    color: white;
}

.svg{
    width : 25px;
    height :  auto;
}

.homepage{
    width: 100%;
    display: inline-flex;
    justify-content: space-evenly;
    padding-top: 5%;
    padding-bottom: 5%;
}

/* Homepage part */

.homepagecontent{
    width: 30%;
    height: 100%;
}

h1{
    font-size: 30px;
    width: 20%;
    text-align: center;

}

h2{
    font-size: 50px;
    font-weight: 900;
    color: rgb(28, 28, 28);
}

p{
    padding-top: 2%;
    padding-bottom: 2%;
    color:dimgrey;
}

form{
    border-radius: 35px;
    width: 100%;
    display: inline-flex;
    background-color: #e7e8e8;
    opacity: 0.7;
    padding: 7px;
}

.newsletterinputtxt{
    padding: 20px;
    border-radius: 35px;
    border: none;
    width: 100%;
    background-color: #e7e8e8;
    opacity: 0.6;
}

.subscribebtn{
    border-radius: 35px;
    width: 45%;
    background-color: #0e6780;
    color: white;
    border: none;

}
.subscribebtn:hover{
    background-color: #16abd4;
}

.homepicture{
    width: 40%;
    height: 100%;
}

/* Features part */

.features{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.featureintro{
    width: 30%;
    margin: 2%;
}

h3{
    font-size: 30px;
    font-weight: 900;
}

.cardbox{
    display: inline-flex;
    justify-content: space-evenly;
    width: 85%;
    padding: 2%;
}

.card{
    background: radial-gradient(rgb(139, 195, 245),#1294b8);
    width: 400px;
    height: 400px;
    padding: 2%;
    box-shadow: 3px 1px 1px grey;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 1s;
}

.card:hover{
    transform: scale(1.1);
}

.svg-feature{
    width: 15%;
    height: auto;
}

h4{
    color: white;
    font-size: 25px;
    padding-top: 5%;
    padding-bottom: 5%;
}

.pcard{
    color: white;
}

/* How it work part */

.howitworks{
    min-height: 100vh;
    padding: 4%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(230, 230, 230);
}

.p-howitworks{
    width: 35%;
}