*, :before, :after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.homepage { min-height: 100vh; }

.font-all{
    font-family: 'Poppins';
    font-size: 18px;
}

.background {
    background: radial-gradient(rgb(139, 195, 245),#1294b8);
}

/* Navbar part */

.navbar{
    color: white;
    padding: 2%;
    transition: all 0.4s;
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}

li{
    transition: transform 1s;
}

li:hover{
    transform: scale(1.5);
}

.category-onglet{
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    width: 60%;
    list-style-type: none;
}


.category-social{
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    width: 15%;
    list-style-type: none;
}


.link-nav{
    text-decoration: none;
    color: white;
}

.svg{
    width : 25px;
    height :  auto;
}

.homepage{
    width: 100%;
    display: inline-flex;
    justify-content: space-evenly;
    padding-top: 5%;
    padding-bottom: 5%;
    align-items: center;
}

/* Homepage part */

.homepagecontent{
    width: 30%;
    height: 100%;
}

h1{
    font-size: 30px;
    width: 20%;
    text-align: center;

}

h2{
    font-size: 50px;
    font-weight: 900;
    color: rgb(28, 28, 28);
    margin-bottom: 5%;
}

p{
    padding-top: 3%;
    padding-bottom: 3%;
    color:dimgrey;
}

form{
    border-radius: 35px;
    width: 100%;
    display: inline-flex;
    background-color: #e7e8e8;
    opacity: 0.7;
    padding: 7px;
    margin-top: 5%;
}

.newsletterinputtxt{
    padding: 20px;
    border-radius: 35px;
    border: none;
    width: 100%;
    background-color: #e7e8e8;
    opacity: 0.6;
}

.subscribebtn{
    border-radius: 35px;
    width: 45%;
    background-color: #0e6780;
    color: white;
    border: none;

}
.subscribebtn:hover{
    background-color: #16abd4;
}

.homepicture{
    width: 40%;
    height: 100%;
}

/* Features part */

.features{
    min-height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.feature-intro{
    width: 30%;
    margin: 2%;
}

h3{
    font-size: 30px;
    font-weight: 900;
}

.cardbox{
    display: inline-flex;
    justify-content: space-evenly;
    width: 85%;
    padding: 2%;
}

.card{
    background: radial-gradient(rgb(139, 195, 245),#1294b8);
    width: 400px;
    height: 400px;
    padding: 2%;
    box-shadow: 8px 5px 5px rgb(190, 190, 190);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 1s;
}

.card:hover{
    transform: translateY(-30px);
}

.svg-feature{
    width: 15%;
    height: auto;
}

h4{
    color: white;
    font-size: 25px;
    padding-top: 5%;
    padding-bottom: 5%;
}

.pcard{
    color: white;
}

/* How it work part */

.howitworks{
    min-height: 100vh;
    padding: 4%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(230, 230, 230);
}

.p-howitworks{
    width: 35%;
}

/* Equipe part */

.equipe{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.equipe-intro{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.equipe-intro>p, .equipe-intro>h3{
    width: 45%;
}

.card-equipe{
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    width: 20%;
    height: auto;
}

.box-img-social{
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    transition: transform 1s;
    cursor: pointer;
    border-radius: 50%;
}

.box-img-social:hover .icon{
    left:8%;
    top:80px
}

.box-img-social:hover{
    transform: scale(1.1);
}

.img-equipe{
    border-radius: 50%;
    filter: grayscale(100%);
    padding-top: 8%;
    padding-bottom: 8%;
}

.img-equipe:hover{
    filter: initial;
}

.icon{
    display: flex;
    flex-direction: column;
    position: absolute;
    top:20px;
    left:-50px;
    transition:0.5s;
}

.icon>a{
    background-color: white;
    border-radius: 50%;
    margin-top: 60%;
}

span{
    padding-top: 1%;
    padding-bottom: 1%;
    color: gray;
}

/* Parallax */

.parallax{
    background-image: url("../../assets/img/parallax.png");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.657);
}

.container-parallax{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.603);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.content-parallax{
    width: 60%;
}

.content-parallax>h3{
    color: white;
    font-size: 40px;
}

.content-parallax>p{
    color: white;
    margin-top: 3%;
    margin-bottom: 3%;
}

.started{
    width: 200px;
    height: 60px;
    font-size: 20px;
    background-color: transparent;
    color: white;
    border-radius: 15px;
    border-color: white;
    transition: 0.5s;
    filter: inherit;
}

.started:hover{
    transform: scale(1.1);
    background-color: white;
    color: grey;
    border-color: none;
}

/* Blog part */

.blog{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.blog-intro{
    width: 40%;
    margin: 2%;
    text-align: center;
}

.card-blog{
    display: inline-flex;
    flex-direction: column;
    width: 30%;
    transition: 1s;
}

.img-blog{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.content-blog>h4{
    font-size: 22px;
    color: black;
}

.content-blog>span>a{
    text-decoration: none;
    color: #1294b8;
}

.header-blog{
    position: relative;
}

.auteur{
    background-color: rgba(0, 0, 0, 0.77);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 15px;
    color: white;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 15px;
    visibility: hidden;
    text-align: left;
    padding-left: 5%;
    padding-top: 5%;
}
.header-blog:hover .auteur{
    visibility: visible;
}

.auteur>i>span{
    padding-left: 5%;
}

.auteur>i{
    margin: 2%;
}

.bald{
    font-weight: 900;
}

/* Pricing part */

.pricing{

}
.price-content{
    background-color: rgb(230, 230, 230);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:2%;
}

.intro-pricing{
    width: 30%;
    text-align: center;
}

.cardbox-pricing{
    width: 80%;
    display: inline-flex;
    justify-content: space-evenly;
    padding-top: 3%;
}

.card-pricing{
    background-color: white;
    width: 30%;
    height: auto;
    padding: 2%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 8px 5px 5px rgb(190, 190, 190);
    transition: 1s;
}

.card-pricing:hover{
    transform: translateY(-30px);
}

.card-pricing>b{
    font-size: 25px;
}

.price{
    color:#16abd4;
    font-weight: 500;
    font-size: 60px;
}

.module{
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    padding-top: 3%;
    padding-bottom: 3%;
}
.module>i>span{
    font-family: 'Poppins';
    color: black;
}

.join-btn{
    width: 100%;
    height: 60px;
    font-size: 20px;
    background-color:#16abd4;
    color: white;
    border-radius: 15px;
    border: none;
    transition: 0.5s;
    filter: inherit;
    transition: 1s;
}

.join-btn:hover{
    transform: scale(1.05);
}

